<div class="container">

  <%= button_to('Connect', connect_firmata_path, class: 'btn btn-primary') unless FirmataService.connected? %>
  Status: <span class="label label-primary"><%= FirmataService.connected? ? 'Connected' : 'Disconnected' %></span>

  <%= button_to 'Circle', run_firmata_path(command: 'circle') %>
  <%= button_to 'Rose', run_firmata_path(command: 'rose') %>
  <%= button_to 'Spiral', run_firmata_path(command: 'spiral') %>
  <%= button_to 'Stop', run_firmata_path(command: 'stop') %>
</div>
