<div class="container">
  <table class="center-table">
    <tr>
      <td></td>
      <td>
        <%= arrow(Direction::UP) %>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <%= arrow(Direction::LEFT) %>
      </td>
      <td><%= laser_toggle %></td>
      <td>
        <%= arrow(Direction::RIGHT) %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= arrow(Direction::DOWN) %>
      </td>
      <td></td>
    </tr>
  </table>
</div>
