<!DOCTYPE html>
<html>
<head>
  <title>Arduino</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Arduino & Ruby</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=<%= params[:action] == 'serial' ? 'active' : '' %>><%= link_to 'Serial', serial_path %></li>
        <li class=<%= params[:action] == 'firmata' ? 'active' : '' %>><%= link_to 'Firmata', firmata_path %></li>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
